*.log
.env
composer.phar
composer.lock
.DS_Store
Thumbs.db
/.idea
/.vscode
/vendor
/.settings
/.buildpath
/.project
docker-compose.yml
Dockerfile
LICENSE
README.md
nginx.conf
build.bat
build_arm.sh
.gitignore
.example.env
.git
.travis.yml
/runtime